<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(element => { %>
    <h1> <%= element.postHead %> </h1>
    <p> <%= element.postText.substring(0,100) + " ..." %> <a href="/posts/<%= (element.postHead).replaceAll(" ","-") %>">Read more</a> </p>
<% }); %>

<%- include("partials/footer"); -%>